@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PollingProper</h1>
</div>
<a class="nav-link text-dark" asp-area="" asp-controller="Polls" asp-action="Index">
    <input type="button" class="btn btn-primary btn-lg btn-block" value="Poll">
</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Polls" asp-action="AllPolls">
    <input type="button" class="btn btn-primary btn-lg btn-block" value="Vote">
</a>
